{% extends 'base.html.twig' %}

{% block title %}AgriGo{% endblock %}

{% block body %}
    <div class="conteneurPage">
        <h3>AgriGo :</h3>
        <p>AgriGo est un site permettant de découvrir des producteurs de produits agricoles proches de chez soi, afin de limiter les trajets en voiture et afin d'encourager la consommation de produits locaux.</p>
        <h3>L'agriDex, c'est quoi ?</h3>
        <p>L'agriDex, c'est une liste de produits vendus par vos producteurs locaux afin de favoriser la consommation locale.</p>
        <h3>L'AgriMap</h3>
        <p>L'agriMap est une carte interactive permettant de connaitre la localisation des producteurs proche de chez soi afin de limiter les trajets lorsque l'on veut aller acheter les produits désirés.</p>
        <h3>Nos partenaires :</h3>
        <p>La liste de nos producteurs partenaires est disponible <a href="http://localhost:9999/listeProducteurs">ici</a>.</p>
    </div>
{% endblock %}
