{% extends 'base.html.twig' %}

{% block title %}Confirmation de la création de la variété{% endblock %}

{% block body %}
    <div class="conteneurPage">
        <h1>Votre variété a bien été créé.</h1>
    </div>
{% endblock %}